* {
  padding: 0;
  margin: 0;
}

.page__one {
  display: flex;
  justify-content: space-between;
  padding-left: 62px;
  padding-right: 62px;
  padding-top: 20px;
}
.second,
.first ul {
  display: flex;
  gap: 20px;
}
.third {
  display: flex;
  align-items: center;
  gap: 30px;
}
.third ul {
  display: flex;
  gap: 20px;
}
body {
  overflow-x: hidden; /* Prevent horizontal scroll due to large negative right value */
}
.cart-slider {
  position: fixed;
  top: 0;
  right: -300px; /* initially off-screen */
  width: 300px;
  height: 1000vh;
  background-color: white;
  transition: right 0.3s ease-in-out; /* smooth transition effect */
  z-index: 999;
}

.cart-slider.open {
  right: 0; /* move it to the right when open */
}

.close-cart {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
/* 
.cart-slider {
  position: absolute;
  top: -100;
  right: 0;
  height: 100vh;
  color: black;
  background-color: #0e2431;
  overflow-y: auto;
  z-index: 12;
}

.cart-slider {
  right: 0;
  transition: all 0.12s ease-in-out;
}

.close-cart {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  transition: all 0.12s ease-in-out;
  z-index: 999;
}

.cart-slider p {
  margin: 20px;
} */

/* ///////////////// */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  /* max-width: 1050px; */
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  /* box-shadow: 0 1px 4px rgb(146 161 176 / 15%); */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1rem;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

/* hammmburgger */
.nav-container .hamburger-lines {
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: none;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.menu-items ul {
  display: flex;
  pad: 0;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

/* hammmburgger */

/*  for toggle menu  */
.navbar .menu-items {
  padding-top: 50px;
  box-shadow: inset 0 0 2000px rgba(126, 126, 126, 0.5);
  border-radius: 0px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: left;
  display: none;
  /* background-color: rgb(223, 245, 252); */
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}
.menu-items img {
  width: 100%;
  height: 40vh;
  border-radius: 10px;
  border-style: groove;
  transition: opacity 0.5s ease-in-out;
  opacity: 0; /* Initial opacity set to 0 */
}
.menu-items img:nth-child(1) {
  transition-delay: 0s; /* Adjust the delay as needed */
  transition: all 2s ease-in-out;
}

.menu-items img:nth-child(2) {
  transition-delay: 2s; /* Adjust the delay as needed */
  transition: all 6s ease-in-out;
}

.menu-items img:nth-child(3) {
  transition-delay: 3s; /* Adjust the delay as needed */
  transition: all 10s ease-in-out;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items img {
  opacity: 1; /* Set opacity to 1 when the checkbox is checked (menu open) */
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
.butt__owesome {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: transparent;
  border-style: solid;
  width: 120px;
  margin-top: 30px;
  margin-left: 10px;
}
.butt__owesome1 {
  padding: 10px 25px;
  border-radius: 20px;
  background-color: rgb(1, 49, 58);
  border-style: solid;
  font-weight: 500;
  color: white;
  width: 150px;
  margin-top: 20px;
  margin-left: 10px;
  margin-bottom: 20px;
}
.butt__owesome:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  cursor: pointer;
}
.butt__owesome1:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  cursor: pointer;
}

/* Add these styles to your existing CSS file or use inline styles */

.image-with-text {
  position: relative;
  max-width: 100%;
}

.overlay-text {
  position: absolute;
  top: 85%;
  max-width: 100%;
  transform: translate(15%, -50%);
  color: hsl(0, 0%, 100%); /* Set the text color */
  font-size: 14px; /* Adjust the font size */
  font-weight: bold; /* Adjust the font weight */
  text-align: center;
}
.login__text {
  background-color: transparent;
  border-style: groove;
  width: 100px;
  margin-top: 20px;
  padding: 10px;
  margin-left: 10px;
  border-radius: 100px;
  cursor: pointer;
  border-style: 2px solid;
  z-index: 3;
  border-color: #0e2431;
  text-align: center;
}
.login__text:hover {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
/*  for toggle menu  */
.menu__links a {
  display: block;
  padding-left: 15px;
}

/*  on hover css for navbar */
/* ////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// */
.cont__background {
  position: relative;
  max-width: 100%;
}

.hovered-element {
  background-color: rgb(252, 251, 251);
  /* display: none; */
  position: absolute;
  left: 0;
  padding-left: 100px;
  padding-right: 100px;
  height: 50vh;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 20px;
  width: 100%;
  right: 0;
  justify-content: space-between;
}

.hovered-element,
.hover-text:hover + .hovered-element {
  display: flex;
}
.overlay-text1 {
  position: relative;
  align-items: last baseline;
  transform: translate(0%, -100%);
  color: white;
  font-size: 14px; /* Adjust the font size */
  font-weight: bold; /* Adjust the font weight */
  text-align: center;
  padding-bottom: 20px;
  /* padding-left: 50px; */
}

.overlay-text3 {
  position: relative;
  align-items: last baseline;

  transform: translate(0%, -100%);
  color: #0e2431;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  padding-bottom: 10px;
  /* padding-left: 55px; */
}

.overlay-text2 {
  position: relative;
  align-items: last baseline;

  transform: translate(0%, -100%);
  color: #0e2431;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  /* padding-left: 80px; */
}
.overlay-text4 {
  position: relative;
  align-items: last baseline;
  transform: translate(0%, -100%);
  color: #0e2431;
  font-weight: bold;
  text-align: center;
  padding-bottom: 10px;
  /* padding-left: 80px; */
}
.shop__image {
  gap: 20px;
  display: flex;
}
.shop__image img {
  width: 100%;
  height: 100%;
}
.shop__imageTwo {
  gap: 20px;
  display: flex;
  gap: 20px;
}
.shop__imageTwo img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background: rgb(240, 229, 234);
  background: linear-gradient(
    90deg,
    rgb(252, 246, 249) 0%,
    rgb(202, 202, 202) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.shop__imageOne,
.shop__imageFour {
  gap: 20px;
  display: flex;
  gap: 20px;
}
.shop__imageOne img,
.shop__imageFour img {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  padding-bottom: 20px;
}

.shop__imageOne img:nth-child(1),
.shop__imageFour img:nth-child(1) {
  background: rgb(240, 229, 234);
  background: linear-gradient(
    90deg,
    rgb(252, 246, 249) 0%,
    rgb(202, 202, 202) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
/* .shop__imageFour img:nth-child(2){
    background-color: aliceblue;
  } */
.diff__link {
  display: grid;
  padding-top: 80px;
}
.sub__links {
  display: grid;
  width: 10rem;
  gap: 10px;
  padding-left: 10px;
}
.butt__sub button:nth-child(1) {
  padding: 15px;
  width: 70%;
  max-width: 100%;
  border-radius: 200px;
  color: #0e2431;
  background-color: transparent;
  margin-bottom: 10px;
}
.butt__sub button:nth-child(2) {
  padding: 15px;
  width: 80%;
  max-width: 100%;
  border-radius: 200px;
  color: #ffffff;
  background-color: #0e2431;
  margin-bottom: 20px;
}

/*  on hover css for navbar */
@media screen and (max-width: 1480px) {
  .hovered-element {
    background-color: rgb(252, 251, 251);
    /* display: none; */
    position: absolute;
    left: 0;
    padding-left: 80px;
    padding-right: 80px;
    height: 50vh;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    right: 0;
    gap: 100px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1280px) {
  .page__one {
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first li {
    padding: 5px;
  }
  .second li {
    padding: 10px;
  }
  .third li {
    padding: 10px;
  }

  .hovered-element {
    background-color: rgb(252, 251, 251);
    /* display: none; */
    position: absolute;
    left: 0;
    padding-left: 80px;
    padding-right: 80px;
    height: 50vh;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    right: 0;
    gap: 50px;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1095px) {
  .hovered-element {
    background-color: rgb(252, 251, 251);
    /* display: none; */
    position: absolute;
    left: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 50vh;
    background-size: cover;
    padding-top: 30px;
    padding-bottom: 20px;
    width: 100%;
    right: 0;

    justify-content: space-between;
  }
  .shop__imageOne img:nth-child(1),
  .shop__imageFour img:nth-child(1) {
    background: rgb(240, 229, 234);
    background: linear-gradient(
      90deg,
      rgb(252, 246, 249) 0%,
      rgb(202, 202, 202) 0%,
      rgba(255, 255, 255, 1) 100%
    );
  }
}
@media screen and (max-width: 880px) {
  .navbar {
    display: block;
  }
  .page__one {
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
  }
  .nav-container .hamburger-lines .line {
    display: flex;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  .navbar .menu-items {
    padding-top: 0px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: block;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    text-align: left;
    padding-top: 20px;
    /* padding-left: 10px;
      padding-right: 10px; */
    background: rgb(238, 174, 202);

    background: linear-gradient(
      90deg,
      rgba(238, 174, 202, 1) 0%,
      rgba(150, 168, 189, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    .hovered-element {
      background-color: rgb(252, 251, 251);
      /* display: none; */
      position: absolute;
      left: 0;
      padding-left: 80px;
      padding-right: 80px;
      height: 40vh;
      background-size: cover;
      padding-top: 30px;
      padding-bottom: 20px;
      width: 100%;
      right: 0;
      justify-content: space-between;
    }
  }
  .first {
    display: none;
  }
  .third ul {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  .menu-items ul {
    flex-direction: column;
    text-align: right;
  }

  .image-with-text {
    background-color: rgb(168, 168, 168);
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .overlay-text {
    position: absolute;
    top: 55%;
    max-width: 100%;
    transform: translate(20%, -100%);
    color: hsl(0, 0%, 100%); /* Set the text color */
    font-size: 14px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    text-align: center;
    color: #0e2431;
  }
  .image-with-text img {
    width: 25%;
    height: 20vh;
  }
}
@media screen and (max-width: 780px) {
  .menu-items ul {
    flex-direction: column;
    text-align: right;
  }

  .image-with-text:nth-child(1) {
    background: rgb(240, 229, 234);
    background: linear-gradient(
      90deg,
      rgb(252, 246, 249) 0%,
      rgb(202, 202, 202) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .overlay-text {
    position: absolute;
    top: 55%;
    max-width: 100%;
    transform: translate(20%, -100%);
    color: hsl(0, 0%, 100%); /* Set the text color */
    font-size: 14px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    text-align: center;
    color: #0e2431;
  }
  .image-with-text img {
    width: 25%;
    height: 20vh;
  }
}

@media screen and (max-width: 640px) {
  .menu-items ul {
    flex-direction: column;
    text-align: right;
  }

  .image-with-text {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .overlay-text {
    position: absolute;
    top: 55%;
    max-width: 100%;
    transform: translate(20%, -100%);
    color: hsl(0, 0%, 100%); /* Set the text color */
    font-size: 14px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    text-align: center;
    color: #0e2431;
  }
  .image-with-text img {
    width: 30%;
    height: 20vh;
  }
}
@media screen and (max-width: 540px) {
  .menu-items ul {
    flex-direction: column;
    text-align: right;
  }

  .image-with-text {
    background: rgb(238, 174, 202);
    background: radial-gradient(
      circle,
      rgba(238, 174, 202, 1) 0%,
      rgba(148, 187, 233, 1) 100%
    );
    margin-bottom: 10px;
    border-radius: 20px;
  }
  .overlay-text {
    position: absolute;
    top: 55%;
    max-width: 100%;
    transform: translate(20%, -100%);
    color: hsl(0, 0%, 100%); /* Set the text color */
    font-size: 14px; /* Adjust the font size */
    font-weight: bold; /* Adjust the font weight */
    text-align: center;
    color: #0e2431;
  }
  .image-with-text img {
    width: 35%;
    height: 20vh;
  }
}
