.Shop__page {
  padding: 50px;
}
.Shop__page h1 {
  padding-bottom: 35px;
  font-size: 60px;
  color: rgb(12, 59, 90);
}
.shop__content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.shopy {
  text-align: center;
}
.shopy img {
  width: 100%;
  height: 75vh;
  border-radius: 20px;
}
.shopy h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  text-transform: capitalize;
  color: rgb(40, 82, 95);
  font-size: 30px;
}
.shopy a {
  font-family: "Times New Roman", Times, serif;
  font-weight: 300;
  color: rgb(40, 82, 95);
}
.shopy a:hover {
  color: red;
 
}
